/* MEDIA PAGINA HOME */
@media (max-width:1600px){
    html{
        font-size: 9px;
    }
    .divFormContact{
        width: 50%;
    }
    .divMaps{
        width: 50%;
    }
    .text__legal{
        bottom: 16%;
        right: 10%;
    }
    
    
    @media (max-width:1465px){
        html{
            font-size: 8px;
        }
        .nav_header ul{
            width: 55%;
        }
        .text__legal{
            bottom: 26%;
            right: 10%;
        }
        
        
    }
}



@media (max-width: 1250px) {
   
    #grText__home{
        width: 53%;
    }

    .lista__nav-header a{
        font-size: 12px;

    }
    #home__main{
        background-position:-150px;
}
.main__form{
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
}
.contenedor__footer{
    justify-content: space-between;
}
    html{
            font-size: 7px;
        }
        @media (max-width:1000px){
            #home__main{
                background-position:-250px;
        }
        .main__contacto{
            display: flex;
            flex-direction:column;
            height: 1500px;
            padding-bottom: 100px;
        }
        .divMaps{
            width: 80%;
        }
        .divMaps__div{
            width: 80%;
        }
        .div__contacto{
            width: 80%;
            display: flex;
            align-self:center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       
        #iframe{
            margin:0 ;
            margin-left: 10%;
            
        }
        .iframe{
            width: 45rem;
            height: 32rem;
        }
        .div__contacto form{
            margin: 3%  15%;
        }
        @media  (min-width:360px) and (max-width:950px){
            .contenido__div{
                flex-direction: column;
                
            }
            .contenido__text--qs{
                width: 80%;
                height:max-content ;
                margin-bottom: 5%;
            }
            
        }
        @media (max-width:800px){
            .div__logo-header{
                border-bottom: 3px solid #feca0a;
            }
            .fuerzaJoven__divImg{
                flex-direction: column;
            }
            .card--FA{
                width: 100%;
                margin-bottom: 10px;
            }
            .container__slider{width: 90%;
            overflow:hidden;}
            .header__nav{
                position: absolute;
                top: 93.7px;
                width: 100%;
                height: max-content;
                
                z-index: 15000
                ;
            }  
            .header__nav ul{
                width: 100%;
                height: max-content;
                margin-left: 0;
            }
            .nav__list li{
                width: fit-content;
            }
            #item__list a{
                background-color:transparent;
            }
            .sublist{
                background-color: transparent;
                color: white;
                width: 100%;
            }
            .sublist a{
                color: white;
            }
            #heading__prog{
                width: 80%;
                font-size: 50PX;
            }

          
            .contenedor__footer{
                flex-direction: column;
                justify-content: center;
            }
            .logo__footer{
                width: 100%;
            
            }
            #home__grText{
                width: 70%;
            }
            .nav__footer{
                width: 100%;
                margin: 0;
            }
            @media (max-width:600px){
                #home__main{
                    background-position:-600px -30px;
            }


            /* MOVIL VERSION */
            @media  (min-width:100px) and (max-width:600px){
                html{
                    font-size: 7px;
                }
                .redes__nav{
                    display: none;
                }
                .container__slider{
                    width: 100%;
                }
                .text__legal{
                    bottom: 36%;

                }
                .qs__bg-naranja{
                    bottom: 45%;
                    
                }
                .qs__txt-1{
                    font-size: 2.8rem;
                    margin-bottom: 20%;
                }
                .qs__img{
                    width: 80%;
                }
                #artEcaf{
                    width: 100%;
                    margin:0px 0px;
                }
                .container__slider{
                    height: 400px;
                }
                .main__contacto{
                    height: 1500px;
                }
                .text__dataBank{
                    width: 60%;
                }
                .nav__socialIcon{
                    width: 80%;
                }
                .listF2{
                   position: absolute;
                   top:17%;
                   left:3%;
                }
                .listF4{
                    position: absolute;
                    top:42%;
                    left:3%;
                    display: inline-block;
                }
                .listF5{
                    position: absolute;
                    top:3%;
                    right:3%;
                    display: inline-block;
                    width: 60%;
                
                }
                .nav__footer{
                    position: relative;
                    height: 300px;
                    width: 100%;
                }
                
                .listF1{
                    position: absolute;
                    top:3%;
                    left:3%;
                    display: inline-block;
                }
                .fuerzaJoven__p{
                    font-size: 2.2rem;
                    width: 90%;
                }
                .fuerzaJoven__titulo{
                    font-size: 5rem;
                    width: 100%;
                }
                .p__capacitaciones{
                    font-size: 2.2rem;
                    width: 80%;
                }
                .flechas {
                    transform: scale(0.8);
                }                  
                .titulo__capacitaciones{
                    font-size: 5rem;
                    width: 80%;
                    margin: 0;
                }
                .p__card--FA{
                    width: 95%;
                }
                .lista__nav-footer li{
                    font-size: 11px;
                }
                /* MENU HEADER*/
                        .header__nav{
                            position: absolute;
                            top: 93.7px;
                            height: max-content;
                            left: -100%;
                            z-index: 15000
                            ;
                        }
                        #burger__menu{
                            display: block;
                            width: 30px;
                        }          
                        #close__menu{
                            width: 30px;
                        }
                        .div__logo-header{
                            flex-direction: row-reverse;
                            justify-content:flex-end;
                        }
                        .icons__menu{
                            margin-right: 8%;
                        }
                        #logo{
                            width: 148px;
                            margin-left: 5.5rem;
                        }
                        .nav__list{
                            flex-direction: column;
                            flex-wrap: wrap;
                            width: 100%;
                        }
                        .header__nav ul {
                            align-items: center;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                        }
                        .nav__list li{
                            width: 100%;
                            display: block;
                            border: 1px solid white;
                        }
                        #item__list{
                            
                            height: max-content;
                        }
                        .sublist{
                            position: static;
                            display: block;
                        }
                        .div__contacto{
                            width: 95%;}
/* MAIN HOME */
                #home__grText{
                    margin-left:10px;
                    width: 90%;
                }
                #iframe{
                    margin-left: 0;
                }
                #grText__h1{
                    font-size: 55px;
                    width: 100%;
                    height: fit-content;
                }
                .qs__txt-1{
                    margin-bottom: 25%;
                }
                .qs__img-2{
                    width: 80%;
                    margin: 0;
                }
                .qs__title-3{
                    width: 80%;
                }
                .qs__txt-3{
                    width: 90%;
                    height: max-content;
                    margin: 0;
                }
                .qs__img-3{
                    margin: 0;
                    width: 80%;
                }
                #grText__parraf{
                    margin:15% 0 ;
                }
                .btn{
                    width: 100%;
                    height: 55px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 2;
                }
                .fuerzaJoven__contenedorCard{
                    flex-direction: column;
                    width: 100%;
                }
                .p__art-ecaf{
                    font-size: 2.2rem;
                }
                .ul__art-ecaf li{
                    font-size: 2.2rem;
                }
                .card--FA{
                    width: 105%;
                    margin: 10px;
                    height:fit-content;                   
                }
                .titulo__card--FA{
                    font-size: 2.9rem;
                    margin-bottom: 5px;
                }
                .fuerzaJoven__divImg{
                    margin: 0;
                    width: 80%;
                    flex-direction: column;
                }
                .card__p--FA{
                    font-size: 15px;
                    height: max-content;
                }
                
                .p__art-ecaf{
                    align-items: flex-start;
                }
                .p__credo{
                    font-size: 2.8rem;
                }

            /* COMNTACTO */    
                .div__contacto form{
                    width: 90%;
                }
                #ifreme{
                    width: 70%;
                }
                /* PROGRAMAS */
                #heading__prog{
                    width: 100%;
                }
                .iconusers{
                    width: 80%;
                }


            }
        }
        }
    
}
}
