/* MEDIA PAGINA HOME */
@media (max-width:1600px){
    html{
        font-size: 9px;
    }
    
    @media (max-width:1465px){
        html{
            font-size: 8px;
        }
        .nav_header ul{
            width: 55%;
        }
    }
}



@media (max-width: 1250px) {
    
    #grText__home{
        width: 53%;
    }

    .lista__nav-header a{
        font-size: 12px;

    }
    #home__main{
        background-position:-150px;
}
.main__form{
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
}
.contenedor__footer{
    justify-content: space-between;
}
    html{
            font-size: 7px;
        }
        @media (max-width:1000px){
            #home__main{
                background-position:-250px;
        }
        .main__contacto{
            display: flex;
            flex-direction:column-reverse;
            height: max-content;
        }
        .div__contacto{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .iframe{
            width: 45rem;
            height: 32rem;
        }
        .div__contacto form{
            margin: 3%  15%;
        }
        .divFormContact{
            padding-bottom: 80px;
        }
        @media (max-width:800px){
            .div__logo-header{
                border-bottom: 3px solid #feca0a;
            }
            .container__slider{width: 90%;
            overflow:hidden;}
            .header__nav{
                position: absolute;
                top: 93.7px;
                width: 100%;
                height: max-content;
                
                z-index: 15000
                ;
            }  
            .header__nav ul{
                width: 100%;
                height: max-content;
                margin-left: 0;
            }
            .nav__list li{
                width: fit-content;
            }
            #item__list a{
                background-color:transparent;
            }
            .sublist{
                background-color: transparent;
                color: white;
                width: 100%;
            }
            .sublist a{
                color: white;
            }

          
            .contenedor__footer{
                flex-direction: column;
                justify-content: center;
            }
            .logo__footer{
                width: 100%;
            }
            #home__grText{
                width: 70%;
            }
            .nav__footer{
                width: 90%;
                margin: 0;
            }
            @media (max-width:600px){
                #home__main{
                    background-position:-600px -30px;
            }


            /* MOVIL VERSION */
            @media  (min-width:100px) and (max-width:600px){
                html{
                    font-size: 7px;
                }
                .container__slider{width: 80%;}
                #artEcaf{
                    width: 100%;
                    margin:0px 0px;
                }
                .container__slider{
                    height: 400px;
                }
                .listF2{
                   position: absolute;
                   top:17%;
                   left:3%;
                }
                .listF4{
                    position: absolute;
                    top:42%;
                    left:3%;
                    display: inline-block;
                }
                .listF5{
                    position: absolute;
                    top:9%;
                    right:3%;
                    display: inline-block;

                }
                .nav__footer{
                    position: relative;
                    height: 300px;
                }
                .listF1{
                    position: absolute;
                    top:3%;
                    left:3%;
                    display: inline-block;
                }
                .fuerzaJoven__p{
                    font-size: 2.2rem;
                    width: 90%;
                }
                .fuerzaJoven__titulo{
                    font-size: 5rem;
                }
                .p__capacitaciones{
                    font-size: 2.2rem;
                }
                .titulo__capacitaciones{
                    font-size: 5rem;
                }
                
                /* MENU HEADER*/
                        .header__nav{
                            position: absolute;
                            top: 93.7px;
                            height: max-content;
                            left: -100%;
                            z-index: 15000
                            ;
                        }
                        #burger__menu{
                            display: block;
                            width: 30px;
                        }          
                        #close__menu{
                            width: 30px;
                        }
                        .div__logo-header{
                            flex-direction: row-reverse;
                            justify-content:flex-end;
                        }
                        .icons__menu{
                            margin-right: 8%;
                        }
                        #logo{
                            width: 148px;
                            margin-left: 5.5rem;
                        }
                        .nav__list{
                            flex-direction: column;
                            flex-wrap: wrap;
                            width: 100%;
                        }
                        .header__nav ul {
                            align-items: center;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                        }
                        .nav__list li{
                            width: 100%;
                            display: block;
                            border: 1px solid white;
                        }
                        #item__list{
                            
                            height: max-content;
                        }
                        .sublist{
                            position: static;
                            display: block;
                        }

/* MAIN HOME */
                #home__grText{
                    margin-left:10px;
                    width: 90%;
                }
                #grText__h1{
                    font-size: 55px;
                    width: 100%;
                    height: fit-content;
                    
                }
                #grText__parraf{
                    margin:15% 0 ;
                }
                .btn{
                    width: 100%;
                    height: 55px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 2;
                }
                .fuerzaJoven__contenedorCard{
                    flex-direction: column;
                    width: 100%;
                }
                .p__art-ecaf{
                    font-size: 2.2rem;
                }
                .ul__art-ecaf li{
                    font-size: 2.2rem;
                }
                .card--FA{
                    width: 80%;
                    margin: 10px;
                    height:fit-content;                   
                }
                .fuerzaJoven__divImg{
                    margin: 0;
                }
                .card__p--FA{
                    font-size: 15px;
                    height: max-content;
                }
                
                .p__art-ecaf{
                    align-items: flex-start;
                }
                

            /* COMNTACTO */    
                .div__contacto form{
                    width: 90%;
                }
                #ifreme{
                    width: 70%;
                }
            
            }
        }
        }
    
}
}