*{
    color:white;
    
}
p{
    color: black;
}
.main__progrmas{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#heading__prog{
    width: 350px;
    height: 110px;
    font-size: 55px;
    font-weight:900;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.img__programas{
    background-image: url("../image/imgProgramas.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(254, 201, 10, 0.329);
    position: absolute;
    left: 0;
    top: 0;
}
.capacitaciones__programas{
    width: 100%;
    height: max-content;
    position: relative;
    z-index: 1;
}
.carusel__capacitaciones-programas{
    width: 100%;
    height: 250px;
    border: 1px solid black;
}
.fuerzaJoven__progrmas{
    width: 100%;
    height: 500px;
}
.filter__cap{
    width: 100%;
    height: 150%;
    position:absolute;
    left: 0;
    top: 0;
    background-image: url("../image/secProgrmas.png");
    z-index: -100;
    position: relative;
}
.filter__cap div{
    background-image: url("../image/Vector.png");
    z-index: -50;
    width: 100%;
    height: 20%;
    opacity: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

/* ECAF */
.sec__ecaf{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .art__ecaf{
        width: 80%;
        height: max-content;
        border: 1px solid white;
        margin: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        background-color: white;
        
    }
        .titulo__ecaf{
            color: rgba(237, 101, 2, 1);
            font-size: 5.5rem;
            font-weight:900;
            align-self: flex-start;
            margin: 20px 10px ;
        }
        .p__art-ecaf{
            width: 80%;
            height: max-content;
            margin: 5px;
            font-weight: 500;
            font-size: 2.6rem;
            text-justify: auto;
            text-align: justify;
        }
            .p__art-ecaf span{
            color: rgba(237, 101, 2, 1);
            font-weight: bold;
            }

    .ul__art-ecaf{
        margin: 20px 10px ;
        width: 80%;
        height: max-content;
        border-radius: 10px;
        
        box-shadow: 0 0 10px rgba(134, 134, 134, 0.075);
    }
        .ul__art-ecaf li{
            margin: 3px 10px ;
            font-size: 2.8rem;
            font-weight: 500;
            
            color: rgba(237, 101, 2, 1);
        }

/* CAPACITACIONES */
.capacitaciones__programas{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.capacitaciones__div{
    height: max-content;
}
.filtro__prog{
    width: 100%;
    height: 120%;
    position: absolute;
    background-image: url("../image/secProgrmas.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    left: 0;
    bottom: 0;
}
.titulo__capacitaciones{
    width: 80%;
    margin: auto;
    padding:25px 0  ;
    color: white;
    font-weight: bolder;
    font-size: 5.5rem;
}
.p__capacitaciones{
    width: 80%;
    margin: auto;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
}
/*CARROUSEL CAPACITACIONES  */
.container__slider{
    width: 100%;
    
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    overflow: hidden;
}

input[type=radio]{
    display: none;
}

.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.seminario{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.603) ;
}
.img__card{
    width: 100%;
    height: 50%;
}
.text__card{
    width: 100%;
    margin: 3% 10% ;
}
.titulo__card{
    width: 80%;
    font-size: 2.4rem;
    color: rgba(237, 101, 2, 1) ;
    font-weight: bold;

}
.p__card{
    width: 80%;
    font-size: 2.4rem;
    font-weight: 500;
}
#item-2:checked ~ .cards #selector-5,
#item-1:checked ~ .cards #selector-4,
#item-5:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-1{
    transform: translateX(-100%) scale(0.6);
   
    z-index: -1;
}

#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-5,
#item-5:checked ~ .cards #selector-4,
#item-4:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-80%) scale(0.8);
   
    z-index: 0;
}
#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-4,
#item-5:checked ~ .cards #selector-5{
    transform: translateX(0) scale(1);
    z-index: 1;
}


#item-5:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-4,
#item-4:checked ~ .cards #selector-5{
    transform: translateX(80%) scale(0.8);
   
    z-index: 0;
}
#item-5:checked ~ .cards #selector-2,
#item-1:checked ~ .cards #selector-3,
#item-2:checked ~ .cards #selector-4,
#item-3:checked ~ .cards #selector-5,
#item-4:checked ~ .cards #selector-1{
    transform: translateX(100%) scale(0.6);
   
    z-index: -1;
}




/* FUERZA JOVEN */
#fuerzaJoven{
    width: 100%;
    height: max-content;
    margin-bottom: 100px;
    background-color: azure;
}
.programas__fuerzaJoven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.fuerzaJoven__divText{
width: 100%;
height: 20% ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.fuerzaJoven__divImg{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.card--FA{
    width: 35%;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 25px rgb(194, 194, 194);
    border-radius: 10px;
}
.fuerzaJoven__contenedorCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fuerzaJoven__titulo{
    margin: 10px;
    width: 80%;
    height: max-content;
    text-align:start;
    color: rgba(237, 101, 2, 1);
    font-size: 5.5rem;
    font-weight: bold;
}
.fuerzaJoven__p{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
}
.fuerzaJoven__p span{
    color: #F48120;
    font-weight: bolder;
}
.card__img--FA{
width: 100%;
height: 40%;
margin-bottom: 5px;
}
.card__text--FA{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

}
.card__titulo--FA{
font-size: 3.2rem;
font-weight: bold;
border-radius: 10%;
color: #F48120;
text-align: center;
height: fit-content;
margin: 10px;
}
.card__icon{

}
.card__p--FA{
    width: 80%;
    height: 60%;
    font-size: 2.4rem;
    font-weight: 500;
}