*{
    color:black;
    
}
.main__progrmas{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#heading__prog{
    width: 350px;
    height: 110px;
    font-size: 55px;
    font-weight:900;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.img__programas{
    background-image: url("../image/imgProgramas.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(254, 201, 10, 0.329);
    position: absolute;
    left: 0;
    top: 0;
}
.capacitaciones__programas{
    width: 100%;
    height: max-content;
    position: relative;
    z-index: 1;
}
.carusel__capacitaciones-programas{
    width: 100%;
    height: 250px;
    border: 1px solid black;
}
.fuerzaJoven__progrmas{
    width: 100%;
    height: 500px;
}
.filter__cap{
    width: 100%;
    height: 150%;
    position:absolute;
    left: 0;
    top: 0;
    background-image: url("../image/secProgrmas.png");
    z-index: -100;
    position: relative;
}
.filter__cap div{
    background-image: url("../image/Vector.png");
    z-index: -50;
    width: 100%;
    height: 20%;
    opacity: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

/* ECAF */
.sec__ecaf{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .art__ecaf{
        width: 80%;
        height: max-content;
        border: 1px solid white;
        margin: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        background-color: white;
        
    }
        .titulo__ecaf{
            color: rgba(237, 101, 2, 1);
            font-size: 5.5rem;
            font-weight:900;
            align-self: flex-start;
            margin: 20px 10px ;
        }
        .p__art-ecaf{
            width: 80%;
            height: max-content;
            margin: 5px;
            font-weight: 500;
            font-size: 2.6rem;
            text-justify: auto;
            text-align: justify;
        }
            .p__art-ecaf span{
            color: rgba(237, 101, 2, 1);
            font-weight: bold;
            }

    .ul__art-ecaf{
        margin: 20px 10px ;
        width: 80%;
        height: max-content;
        border-radius: 10px;
        
        box-shadow: 0 0 10px rgba(134, 134, 134, 0.075);
    }
        .ul__art-ecaf li{
            margin: 3px 10px ;
            font-size: 2.8rem;
            font-weight: 500;
            
            color: rgba(237, 101, 2, 1);
        }

/* CAPACITACIONES */
.capacitaciones__programas{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.carrousel__programas{
    position: relative;
    width: 100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:  50px 0;
}
.icon__flecha{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    margin: 10px;
    border-radius: 100%;
    background-color: rgba(237, 100, 2, 0.5) ; 
    cursor:pointer;
}
.icon__flecha:hover{
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.747);
    background-color:rgba(244, 129, 32, 1);
}

.icon__flecha img{
    width: 100%;
}
.card{
    width: 40rem;
    height: max-content;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin: 15px;
    flex-direction: column;
    background-color: white;
    }
.img__card{
    width: 100%;
}
.text__card{
    width: 100%;
}
.p__card{
    font-size: 2.4rem;
    font-weight: 500;
}
.titulo__card{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
}
#izq{
    left: 0;
}
#der{
    right: 0;
}
#content__cards{
    display: flex;
    height: max-content;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease-in-out 0.65s;
    
    
}
.capacitaciones__div{
    height: max-content;
}
.filtro__prog{
    width: 100%;
    height: 120%;
    position: absolute;
    background-image: url("../image/secProgrmas.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    left: 0;
    bottom: 0;
}
.titulo__capacitaciones{
    width: 80%;
    margin: auto;
    padding:25px 0  ;
    color: white;
    font-weight: bolder;
    font-size: 55px;
}
.p__capacitaciones{
    width: 80%;
    margin: auto;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
}

/* FUERZA JOVEN */
#fuerzaJoven{
    width: 100%;
    height: 1200px;
    margin-bottom: 15px;
}
.card__img{
    width: 100%;
}
.card__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content__cards{
    display: flex;
    height: max-content;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease-in-out 0.65s;
}
.programas__fuerzaJoven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.fuerzaJoven__contenedorCard{
    width: 60%;
    min-width: 580px;
    display: flex;
    justify-content: space-between;
}
.cardFA{
    width:48%;
    min-width: 290px;
    border: none;
    
}
.card__img--FA{
    height: 30%;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);
}
.card__titulo{
    height: 40px;
    font-size: 18px;
    text-align: center;
    width: 80%;
    color: rgba(244, 129, 32, 1);
    margin:10px 0 ;
}
.fuerzaJoven__titulo{
    width: 60%;
    font-size: 5.5rem;
    font-weight: bold;
    color: rgba(244, 129, 32, 1);
    margin:10px 0 ;
}
.fuerzaJoven__p{
    width: 60%;
    font-size: 2.8rem;
    font-weight: 500;
    
}
.card__p--FA{
    width: 80%;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.card__titulo--FA{
    font-size: 3.2rem;
    font-weight: bold;
}