*{
    color:black;
}


.main__progrmas{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}
.img__programas{
    background-image: url("../image/imgProgramas.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(254, 201, 10, 0.329);
    position: absolute;
    left: 0;
    top: 0;
}
.ecaf__programas{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ecaf{
    width: 80%;
    height:max-content;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    margin-top: 5%;
}
.titulo__ecaf{
    color:black;
}
.ecaf p {
    color:black;
}

.ecaf ul li{
    color: black;
}

.capacitaciones__programas{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}
.carusel__capacitaciones-programas{
    width: 100%;
    height: 250px;
    border: 1px solid black;
}
.fuerzaJoven__progrmas{
    width: 100%;
    height: 500px;
}
.filter__cap{
    width: 100%;
    height: 150%;
    position:absolute;
    left: 0;
    top: 0;
    background-image: url("../image/secProgrmas.png");
    z-index: -100;
    position: relative;
}
.filter__cap div{
    background-image: url("../image/Vector.png");
    z-index: -50;
    width: 100%;
    height: 20%;
    opacity: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    
}