/*Quiénes somos*/
html {
    font-size: 10px;
}


#heading__prog{
    width: max-content;
    height: 110px;
    font-size: 55px;
    font-weight:900;
    color: white;
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
#heading__prog{
    width: max-content;
    height: 110px;
    font-size: 55px;
    font-weight:900;
    color: white;
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.iconusers{
    width: 50%;
}
.qs__div {
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(180deg, #FFFFFF 1.02%, rgba(255, 115, 0, 0.3) 23.24%), url("../image/team.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qs__title {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
}
.qs__txt-1 {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 5rem 13rem;
    text-align: center;
    color: #ED6502;
    font-size: 2.1rem;
    line-height: 1.5em;
    font-weight: 510;
    margin-bottom: 8rem;
}
.qs__vector-gris {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.qs__vector-gris-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: 600px;
}
.qs__vector-naranja {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.qs__container-1 {
    display: flex;
    justify-content: center;
}
.qs__title-2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    margin-top: 25rem;
    z-index: 2;
    width: 90%;
}
.qs__div-2 {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
}
.qs__txt-2 {
    line-height: 25px;
    margin-top: 20px;
    z-index: 2;
    margin-left: 4rem;
}
.qs__img-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 2;
    margin: 2rem 4rem;
    max-width: 60rem;
    max-height: 50rem;
}
.qs__title-2 {
    color: white;
    z-index: 2;
    margin-left: 4rem;
}
.qs__container-2 {
    display: flex;
    justify-content: center;
}
.qs__title-3-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 15rem;
    grid-gap: 3rem;
    z-index: 2;
    width: 90%;
}
.qs__div-3 {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
}
.qs__title-3 {
    
    color: white;
    z-index: 2;
    margin-left: 4rem;
}
.qs__txt-3 {
    line-height: 25px;
    margin: 2rem 4rem;
    z-index: 2;
}
.qs__img-3 {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
    margin: 2rem 4rem;
    max-width: 70rem;
    max-height: 70rem;
}
.qs__img-2, .qs__img-3 {
    
    border-radius: 10px;
    align-self: center;
}
.rectangle__container {
    margin-top: 20rem;
    margin-bottom: 300px;
    
}
.rectangle__title {
    z-index: 2;
    margin-bottom: 4rem;
}
.rectangle__title__container {
    display: flex;
    justify-content: center;
}
.rectangle {
    padding: 20px;
    background-color: white;
    z-index: 2;
    border-radius: 1.5rem;
    width: 80%;
    box-shadow: 0px 20px 77px -35px rgba(0, 0, 0, 0.25);
    width: 90%;
}
.rectangle__background {
    width: 100%;
    display: flex;
    justify-content: center;

}

.rectangle__h3 {
    color: #4a4a4a;
    z-index: 2;
    text-align: center;
    align-self: center;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 2rem 0;
}
.rectangle__p {
    color: #ED6502;
    z-index: 2;
    font-family: 'Montserrat';  
    font-style: normal;
    line-height: 3.5rem;
    margin-bottom: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}
.rectangle__div {
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 800;
    font-size: 2.5rem;
    
}
.footer  {
    z-index: 3;
}


/* PORTADA
 */
.img__programas{
    background-image:linear-gradient(to right,#F48120,  #ed6502,  #ed6502,  #ed6502,  #ed6502, #F48120);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconusers{
    width: 50%;
}


.secMision{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.secMision--rev{
    flex-direction: row-reverse;
}

    .qs__title-3-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        
    }
    .qs__div-2{
        grid-row: 1/2;
        margin-left: 0;
    }
    .qs__div-3 {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: 0;
        margin-right: 0;
    }
    .qs__title-2 {
        
        margin: 2rem;
        text-align: center;
    }
    .qs__title-3 {
        
        margin: 2rem;
        text-align: center;
    }
    .qs__txt-2 {
        margin: 2rem 8rem;
        text-align: center;
    }
    .qs__txt-3 {
        margin: 2rem 8rem;
        text-align: center;
    }
    .qs__img-2 {
        grid-row: 2/3;
        grid-column: 1/2;
        z-index: 2;
        margin: 2rem;
        justify-self: center;
    }
    .qs__img-3 {
        grid-row: 2/3;
        grid-column: 1/2;
        z-index: 2;
        margin: 2rem;
        justify-self: center;
    }



/* CSS NUEVO */
#main__QS{
    width: 100vw;
    height: max-content;
    padding-bottom: 200px;
}

.contenido__qs{
    width: 100%;
    height: max-content;
    z-index: 10000;
    
}
main section{
    width: 100%;
    height: max-content;
}
.qs__bg-gris{
    width: 100%;
    height: 30%;
    position: absolute;
    top: -15%;
    z-index: -50;
    background-image: url("../image/Vector.png");
    background-size: cover;
}

.qs__bg-gris-1{
    z-index: -25;
    width: 100%;
    height: 72%;
    position: absolute;
    bottom: -5%;
    z-index: -50;
    background-image: url("../image/Vectorgris.png");
    background-size: cover;
}
.qs__bg-naranja{
    background-image: url("../image/secProgrmas.png");
    background-size: cover;
    z-index: -40;
    z-index: -25;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 12%;
}
.qs__bg-naranja img{
    width: 100%;
    height: 100%;
}
.qs__txt-1{
    font-size: 3.9rem;
    font-weight: 400;
    margin: 5% 5%;
    margin-bottom: 20% ;

}
.qs__img{
    width: 65.5rem;
    height: 41.4rem;
    border-radius: 10px;
}
.contenido__div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    height: max-content;
}
.reverse{
    flex-direction: row-reverse;
}
.contenido__text--qs{
    width:40%;
    height: 414px;
}
.qs__txt{
    font-size: 3.8rem;
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: white;
}
.qs__title{
    font-size: 5.5rem;
    font-weight: bold;
    color:white;
}
.contenido__qs--credo{
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.titulo__credo{
    font-size: 5.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    
}
.div__credo{
    width: 87%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #4a4a4a;
}
.subtitulos__credo{
    font-size: 48px;
    font-weight: 700;
    color: #4a4a4a;
    width: 100%;
    text-align: center;
    margin: 3% 0;
}
.p__credo{
    font-size: 3.1rem;
    font-weight: 400;
    color: #F48120;
    width: 80%;
    margin: 3% 0;
    text-align: center;
}
.secc__contenido--QS{
    position: relative;
}