/*Quiénes somos*/

.qs-img-container {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(180deg, #FFFFFF 1.02%, rgba(255, 115, 0, 0.3) 23.24%), url("../image/team.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qs-title {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}
.qs-txt-1 {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 50px 130px;
    text-align: center;
    color: #ED6502;
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 510;
    margin-bottom: 80px;
}
.hands-img {
    max-width: 200px;
    max-height: 200px;
}
.rectangle {
    border-radius: 10px;
    background-color: #f58220;
}
.vector-gris {
    position: absolute;
    z-index: -1;
    width: 100%;
}
.vector-naranja {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.qs-title-2-container {
    display: flex;
    align-items: center;
}
.qs-title-2 {
    color: white;
    z-index: 2;
}