*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color:white;
}
/* ENCABEZADO */
header{
    width: 100%;
    position: relative;
}
.div__logo-header{
display: flex;
justify-content: space-between;
width: 100%;
height: max-content

}
#logo{
    width: 25rem;
    margin: 20px;
    margin-left: 11.5rem;

}
.icons__menu{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#burger__menu{
    display: none;
    width: 55px;
    margin: 20%;
    fill:#feca0a;
    cursor: pointer;
    
}
#close__menu{
    
    display: none;
    width: 45px;
    margin: 20%;
    
    cursor: pointer;
}
.header__nav{
    background-color: #4a4a4a;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    height: 8rem;
    border-top: 3px solid rgba(254, 202, 10, 1);
    transition: all 1.5s;
    transition-delay: ease 1s;
}
.header__nav ul{
    margin-left: 11.5rem ;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.nav__list li{
    height: 100%;
    padding: 15px 25px;
    list-style: none;
    line-height: 2.5;
    text-transform: uppercase;
    position: relative
}
.nav__a{
    width: max-content;
    font-size: 1.8rem;
    font-weight:500;
    display:inline-block;
}
.nav__a:hover{
    color:rgba(255, 202, 5, 1);
}
.sublist{
    width: 252px;
    height: max-content;
    position: absolute;
    left:0;
    top: 100%;
    background-color: white;
    display: none;
    flex-direction: column;
}
.sublist a{
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    text-align: center;
    color: #4a4a4a;
}
.sublist a:hover{
    background-color:rgba(254, 202, 10, 1); 
    color: black;
}
.nav__list li:hover{
background-color: rgba(92, 92, 92, 1);
color:rgba(255, 202, 5, 1);
}
#item__list:hover ol{
display: block;
width: 100%;
}

/* PRINCIPAL HOME */

#home__main{
    width: 100vw;
    height: 900px;
    background-image: url("../image/home-background.png");
    background-size: cover;
    display: flex;
    justify-content:start;
    align-items: center;
    position: relative;
    
}
.elipce{
    background-image: url("../image/Ellipse\ 80.svg");
    width: 50%;
    height: 50%;position: absolute;
    top: 10%;
}

#home__grText{
    width: 35%;
    margin: 10%;
    height: 300px;
    z-index: +1000;
}
#grText__h3{
    font-size: 5rem;
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;
    color: #4a4a4a;
}
#grText__h1{font-size:5rem;
    width: max-content;
    font-weight: bold;
}
#grText__parraf{
    font-size: 22px;
    font-weight: 300;
}
.main__form{
    display: flex;
    margin-top:15px;
    align-items: center;
    
}
.form__input{
    padding: 1rem;
    margin: 0.7rem;
    z-index: 1000;
    color: black;
}
.btn{
    background-color: rgba(254, 202, 10, 1);
    border: none;
    color: black;
    font-size: 1.6rem;
    border-radius:4px;
    font-weight: 600;
    width: 30%;
    min-width: max-content;
}
.email{
    width: 55%;
}

/* PIE DE PAGINA */

.footer{
    width: 100%;
    height: 300px;
    position: relative;
}
.contenedor__footer{
width: 100%;
height: 130%;
background-image: url("../image/ff.svg");
background-repeat: no-repeat;
background-size: cover;
position: absolute;
bottom: 0;
left: 0;
display: flex;
flex-direction: row;
align-items: flex-end;

}
.logo__footer{
width: 30% ;
height: max-content;
padding: 20px;

margin-bottom: 5%;
}
.logo-Footer{
    width: 25rem;
    margin-left: 11.5rem;
}
.nav__footer{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 60%;
height: max-content;
margin-bottom: 5%;

}
.lista__nav-footer{
height: 25%;
width: max-content;
font-size: 1.8rem;
font-weight: 400;

}
.lista__nav-footer li{
    font-weight: 300;
    margin: 5px;
    padding: 5px;
    list-style: none;
}
.redes__nav-footer{
    margin: 5px;
}
.a__lista-footer{
    font-size: 1.8rem;
    font-weight: 400;
}
.a__lista-footer:hover{
    color: rgba(255, 202, 5, 1);
}


